.single{
    padding: 104px 0;
    background: rgb(23,21,27);
background: linear-gradient(0deg, rgba(23,21,27,1) 18%, rgba(77,78,84,1) 47%, rgba(19,9,43,1) 100%);
padding: 80px 0;
}
.simg{
    margin: 10px 0;
}
.single h2 , p{
    color: #fff;
    text-align: inherit;
}