.subEx{
    padding: 104px 0 ;
    background: rgb(23,21,27);
    background: linear-gradient(0deg, rgba(23,21,27,1) 18%, rgba(77,78,84,1) 47%, rgba(19,9,43,1) 100%);
   
}
.subEx h1{
    color: #ff914d;
    margin: 0 0 20px 0;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.subEx h3{
    letter-spacing: 1px;
    line-height: 2.2;
    color: #fff;
}
.subEx .exerimg{
    
    height: 250px;
}
.subEx button{
    display: block;
    margin: auto;
}